body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#Name {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;


}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 100%;


}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);

}

#top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#dream-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


#experience {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.orange-color {
    color: orange;
}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;

}

#left-box-border {
    border-left: 10px;
    border-left: 5px solid orangered;
}

#right-box-border {
    border-left: 10px;
    border-left: 5px solid blue;
}